

.messenger-box {
    max-height: 500px;
    overflow: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.messenger-box::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}